<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">

    <persistence-unit name="hibernatePersistenceUnit">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <class>com.workfront.internship.workflow.entity.User</class>
        <class>com.workfront.internship.workflow.entity.Comment</class>
        <class>com.workfront.internship.workflow.entity.AppArea</class>
        <class>com.workfront.internship.workflow.entity.Post</class>
        <properties>
            <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/work_flow_test"/>
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
            <property name="hibernate.connection.username" value="root"/>
            <property name="hibernate.connection.password" value="vahag1234"/>
            <property name="hibernate.archive.autodetection" value="class"/>
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="true"/>
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
        </properties>
    </persistence-unit>
</persistence>
