/*-----------------------------------------------------------------------------

workflow

Screen Stylesheet
-----------------------------------------------------------------------------*/

.boxedcontainer {
    max-width: 1170px;
    margin: auto;
    padding: 0px 30px;
}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;

}

.tp-banner {
    width: 100%;
    position: relative;
}

.tp-banner-fullscreen-container {
    width: 100%;
    position: relative;
    padding: 0;
}

.btn-signup {
    background: #f77f29;
    color: white;
}

.btn-login:hover {
    background: #FFAB00;
    color: white;
}

.modal-content {
    position: relative;
    background-color: rgba(44, 46, 53, 0.5) !important;
}

.form-group label {
    color: #f77f29;
}

.modal-title {
    color: #f77f29;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: rgba(0, 0, 0, 0.37);
}

#form-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stnt {
    display: flex;
    justify-content: space-between;
}

.col-lg-7.col-xs-12.col-sm-5.col-md-7.logedin {
    display: flex;
    justify-content: space-between;
}

.post-comment {
    padding: 16px 30px 16px 94px;
    border-top: 1px solid aliceblue;
}

.post-ul li {
    border-bottom: 1px solid aliceblue;
    padding: 8px 0 8px 0;
}

.post-ul li:last-child {
    border-bottom: none !important;
}

.totop {
    padding-top: 16px;
}

.newcomment {
    background: white;
}

input#new-comment {
    color: black;
    background: white;
}

.newcomment input {
    width: 80%;
    display: inline;
}

.delete-post-msg {
    color: #edfffc;
    font-weight: bold;
    font-size: 20px;
}

.delete-post {
    float: right;
    color: #c02a2f;
    cursor: pointer;
    padding-left: 20px;
}

.post-content{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.edit-profile {
    float: right;
    color: #f77f29;
    cursor: pointer;
    padding: 13px;
    font-size: 17px;
}

.edit-post {
    float: right;
    color: #1565C0;
    cursor: pointer;
}

.save-post {
    cursor: pointer;
    float: right;
    color: #24c291;
}

.edit-answer {
    float: right;
    color: #1565C0;
    cursor: pointer;
}

.save-answer {
    cursor: pointer;
    float: right;
    color: #24c291;
}

.alert {
    padding: 15px;
}

.alert-success {
    padding-left: 15px
}

.alert-info-success {
    font-size: medium;
    background-color: rgba(67, 210, 140, 0.76);
    border-color: #bce8f1;
    color: rgba(251, 251, 251, 0.96);
}

.edit-post span {
    margin-left: 0px;
}

.save-post span {
    margin-left: 8px;
}

.edit-answer span {
    margin-left: 8px;
}

.save-answer span {
    margin-left: 8px;
}

.editable {
    background: white;
    color: black;
    margin-bottom: 8px;
}

.img {
    vertical-align: middle;
    background-size: cover;
    width: 100%;
    height: 290px;
}
/*loader*/
body .leftEye,
body .rightEye {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: #dfdfc2;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: leftEyeAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: leftEyeAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
body .rightEye {
    -webkit-animation: rightEyeAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: rightEyeAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
body .mouth {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border: solid 1.3vh #dfdfc2;
    border-right: solid 1.3vh rgba(223,223,194,0);
    border-left: solid 1.3vh rgba(223,223,194,0);
    border-bottom: solid 1.3vh rgba(223,223,194,0);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
    -webkit-animation: mouthAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: mouthAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@-webkit-keyframes mouthAnimation {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateX(180deg);
        transform: translate(-50%, -50%) rotateX(180deg);
    }
    10% {
        -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
    40% {
        -webkit-transform: translate(-50%, -50%) rotateZ(320deg);
        transform: translate(-50%, -50%) rotateZ(320deg);
    }
    60% {
        -webkit-transform: translate(-50%, -50%) rotateZ(900deg);
        transform: translate(-50%, -50%) rotateZ(900deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(900deg);
        transform: translate(-50%, -50%) rotateZ(900deg);
    }
}
@keyframes mouthAnimation {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateX(180deg);
        transform: translate(-50%, -50%) rotateX(180deg);
    }
    10% {
        -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
    40% {
        -webkit-transform: translate(-50%, -50%) rotateZ(320deg);
        transform: translate(-50%, -50%) rotateZ(320deg);
    }
    60% {
        -webkit-transform: translate(-50%, -50%) rotateZ(900deg);
        transform: translate(-50%, -50%) rotateZ(900deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(900deg);
        transform: translate(-50%, -50%) rotateZ(900deg);
    }
}
@-webkit-keyframes leftEyeAnimation {
    0% {
        width: 5vh;
        height: 5vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    50% {
        width: 5vh;
        height: 5vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    60% {
        width: 2vh;
        height: 2vh;
        -webkit-transform: translate(-150%, -50%);
        transform: translate(-150%, -50%);
    }
    90% {
        width: 2vh;
        height: 2vh;
        -webkit-transform: translate(-150%, -50%);
        transform: translate(-150%, -50%);
    }
    100% {
        width: 5vh;
        height: 5vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
@keyframes leftEyeAnimation {
    0% {
        width: 5vh;
        height: 5vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    50% {
        width: 5vh;
        height: 5vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    60% {
        width: 2vh;
        height: 2vh;
        -webkit-transform: translate(-150%, -50%);
        transform: translate(-150%, -50%);
    }
    90% {
        width: 2vh;
        height: 2vh;
        -webkit-transform: translate(-150%, -50%);
        transform: translate(-150%, -50%);
    }
    100% {
        width: 5vh;
        height: 5vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
@-webkit-keyframes rightEyeAnimation {
    0% {
        width: 5vh;
        height: 5vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    50% {
        width: 5vh;
        height: 5vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    60% {
        width: 2vh;
        height: 2vh;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
    70% {
        width: 2vh;
        height: 2vh;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
    75% {
        width: 2vh;
        height: 2px;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
    80% {
        width: 2vh;
        height: 2vh;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
    90% {
        width: 2vh;
        height: 2vh;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
    100% {
        width: 5vh;
        height: 5vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
@keyframes rightEyeAnimation {
    0% {
        width: 5vh;
        height: 5vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    50% {
        width: 5vh;
        height: 5vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    60% {
        width: 2vh;
        height: 2vh;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
    70% {
        width: 2vh;
        height: 2vh;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
    75% {
        width: 2vh;
        height: 2px;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
    80% {
        width: 2vh;
        height: 2vh;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
    90% {
        width: 2vh;
        height: 2vh;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }
    100% {
        width: 5vh;
        height: 5vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
div#loader {
    z-index: 999999;
    background: rgba(0, 0, 0, 0.54);
    position: fixed;
    width: 100%;
    height: 100%;
}
