<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-database.xml"/>

    <!--<context:component-scan base-package="com.workfront.internship.workflow.service"/>-->

    <!--<bean id="userDAOSpring" class="com.workfront.internship.workflow.dao.springJDBC.UserDAOSpringImpl">-->
        <!--<constructor-arg name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!--<bean id="userDAO" class="com.workfront.internship.workflow.dao.impl.UserDAOImpl">-->
        <!--<constructor-arg name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!--<bean id="commentDAOSpring" class="com.workfront.internship.workflow.dao.springJDBC.CommentDAOSpringImpl">-->
        <!--<constructor-arg name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!--<bean id="commentDAO" class="com.workfront.internship.workflow.dao.impl.CommentDAOImpl">-->
        <!--<constructor-arg name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!--<bean id="postDAOSpring" class="com.workfront.internship.workflow.dao.springJDBC.PostDAOSpringImpl">-->
        <!--<constructor-arg name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!--<bean id="postDAO" class="com.workfront.internship.workflow.dao.impl.PostDAOImpl">-->
        <!--<constructor-arg name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!--<bean id="appAreaDAOSpring" class="com.workfront.internship.workflow.dao.springJDBC.AppAreaDAOSpringImpl">-->
        <!--<constructor-arg name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!--<bean id="appAreaDAO" class="com.workfront.internship.workflow.dao.impl.AppAreaDAOImpl">-->
        <!--<constructor-arg name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!--<bean id="userServiceImpl" class="com.workfront.internship.workflow.service.impl.UserServiceImpl">-->
        <!--<constructor-arg name="userDAO" ref="userDAOSpring"/>-->
    <!--</bean>-->

    <!--<bean id="postServiceImpl" class="com.workfront.internship.workflow.service.impl.PostServiceImpl">-->
        <!--<constructor-arg name="postDAO" ref="postDAOSpring"/>-->
    <!--</bean>-->

    <!--<bean id="commentServiceImpl" class="com.workfront.internship.workflow.service.impl.CommentServiceImpl">-->
        <!--<constructor-arg name="commentDAO" ref="commentDAOSpring"/>-->
    <!--</bean>-->

    <!--<bean id="appAreaServiceImpl" class="com.workfront.internship.workflow.service.impl.AppAreaServiceImpl">-->
        <!--<constructor-arg name="appAreaDAO" ref="appAreaDAOSpring"/>-->
    <!--</bean>-->




</beans>